.caravan_dtt {
    padding: 40px 0px;
}
.back_to_search {
    padding-bottom: 10px;
}
.product-page .product-info .title {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 0;
}
.product-page .product-info .category {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 7px;
    font-family: 'Poppins';
    color: #444;
}
.left-info {
    margin-bottom: 30px;
}
.caravan_slider_visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    position: relative;
    z-index: 0;
}
.woocommerce-product-gallery {
    width: 100%;
}
.woocommerce-product-gallery__wrapper {
    position: relative;
}
.hover_link {
    z-index: 9;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    border: none;
}

.slider_thumb_vertical {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-margin-end: 20px;
    margin-inline-end: 20px;
    padding-right: 20px !important;
}
.image_container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.image_mop {
    position: relative;
}
.slider_thumb_vertical .image_item {
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    max-height: 90px;
    min-height: 90px;
    margin-bottom: 10px;
}
.background_thumb {
    position: absolute;
    transform: scale(1.5);
    background: #767676;
}
.slider_thumb_vertical .background_thumb {
    transform: scale(1.5);
    left: 0;
    right: 0;
}
.slider_thumb_vertical .background_thumb img {
    max-height: inherit;
    min-height: inherit;
    width: 100%;
    filter: blur(5px);
}
.slider_thumb_vertical .img {
    min-height: 90px;
    max-height: 90px;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.slider_thumb_vertical img {
    max-height: 90px;
    min-height: 90px;
    width: auto;
}
.lager_img_view .background_thumb {
    position: absolute;
    transform: scale(2.5);
    background: #464545;
}
.lager_img_view .background_thumb img {
    filter: blur(6px);
    opacity: 0.5;
}
.caravan_slider_visible div a img {
    width: auto;
    max-width: 100%;
    max-height: 390px;
    min-height: 390px;
    object-fit: contain;
    position: relative;
    z-index: 1;
}
.caravan__image_count {
    position: absolute;
    bottom: 33px;
    left: 30%;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.lager_img_view {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    justify-content: center;
}
.internalContainer, .toolkit__container {
    padding: 20px;
}
.contactSeller__container, .toolkit__container {
    margin-left: auto;
    margin-bottom: 30px;
    background: #fff;
    border-radius: 6px;
}
.price_section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 6px 0px;
    border-radius: 6px;
}
.divide-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.price_section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 6px 0px;
    border-radius: 6px;
}
.border-0 {
    border: 0!important;
}
.contactSeller__container .price-shape {
    padding-right: 15px;
}
.community.style-5 .content .commun-card:last-of-type {
    border: 0;
}
.contactSeller__container .price_section .price-shape span {
    color: #f58333 !important;
    font-size: 30px;
    font-weight: 700;
}
.divide-2 bdi {
    display: flex;
}
.contact_dealer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact_dealer button {
    border-radius: 30px;
    display: inline-block;
    background-color: #f58333;
    border: 1px solid #f58333;
    color: #fff;
    text-align: center;
    padding: 15px 50px;
    transition: .2s ease-in-out;
    font-size: 18px;
    font-weight: 600;
}
.contact_dealer button:hover {
    background-color: #000000;
    border: 1px solid #000000;
}
.projects.style-7 .projects-tabs .nav-pills .nav-item .nav-link img {
    height: 70px;
}

.projects.style-7 .projects-tabs .nav-pills .nav-item .nav-link i {
    opacity: 0;
    font-size: 28px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.projects.style-7 .projects-tabs .nav-pills .nav-item .nav-link:hover,
.projects.style-7 .projects-tabs .nav-pills .nav-item .nav-link.active {

    margin-left: 0;
    -webkit-box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 16%);
    box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 16%);
}

.projects.style-7 .projects-tabs .nav-pills .nav-item .nav-link:hover i,
.projects.style-7 .projects-tabs .nav-pills .nav-item .nav-link.active i {
    opacity: 1;
}
.product-page .product-details .nav-pills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-pack: center; */
    -ms-flex-pack: center;
    /* justify-content: center; */
    padding-bottom: 10px;
    margin-top: 20px;
}

.product-page .product-details .nav-pills .nav-item {
    margin-right: 20px;
}

.product-page .product-details .nav-pills .nav-link {
    border: 0;
    background: transparent;
    font-size: 19px;
    color: #000;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    padding: 0;
    font-weight: 500;
}

.product-page .product-details .nav-pills .nav-link.active {
    color: #f58333;
    border-color: #f58333;
}
.product-page .product-details .additional-info ul {
    border: 1px solid #0002;
    padding-left: 0;
}
.product-page .product-details .additional-info ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-page .product-details .additional-info ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 25px;
    font-style: 16px;
    color: #000000;
    border-bottom: 1px solid #0002;
}
.product-page .product-details .additional-info ul li strong {
    flex: 0 0 275px;
    text-align: left;
}
.product-page .product-details .additional-info ul li span, .product-page .product-details .additional-info ul li a {
    text-align: right;
    flex: 1;
    margin-left: 5px;
}
.product-page .product-details .additional-info ul li a {
    color: #0a58ca;
}
.community.product_dt_lower.style-5 .content {
    padding-top: 20px;
}
.community.style-5 .content {
    padding: 20px 0;
    padding-top: 40px;
    border: 1px solid #d8d8d8;
    border-radius: 16px;
    background-color: #fcfcfc;
}
.community.product_dt_lower .heading {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 30px;
}
.community.product_dt_lower.style-5 h3 {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 600;
}
.community.product_dt_lower .heading p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
}
.card_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.community.product_dt_lower.style-5 .content .commun-card {
    padding: 0px 15px;
}
.community.style-5 .content .commun-card {
    width: 33%;
    border-right: 1px solid #9993;
    padding: 0px 25px;
    text-align: center;
}
.community.style-5 .content .commun-card .icon {
    margin-bottom: 10px;
}
.community.style-5 .content .commun-card .icon img {
    -webkit-animation: scale_up_down 1s ease-in-out infinite alternate both;
    animation: scale_up_down 1s ease-in-out infinite alternate both;
    height: 70px;
}
.scale_up_down {
    -webkit-animation: scale_up_down 1s ease-in-out infinite alternate both;
    animation: scale_up_down 1s ease-in-out infinite alternate both;
}

/* ------- */

@-webkit-keyframes scale_up_down {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale_up_down {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.product img {
    width: auto;
}
.community.product_dt_lower.style-5 .content .commun-card .inf p {
    font-size: 15px;
    font-weight: 300;
}